<%- include('../../layouts/component/head.ejs', {pageName: "sort-by" }); -%>


<div class="d-flex flex-column align-items-center justify-content-center h-100vh font-primary">

    <%- include('content.ejs', {
        title: t.components.sortBy.title,
        itemOne: t.components.sortBy.itemOne,
        itemTwo: t.components.sortBy.itemTwo,
        itemThree: t.components.sortBy.itemThree,
        itemFour: t.components.sortBy.itemFour,
        itemFive: t.components.sortBy.itemFive,
        itemSix: t.components.sortBy.itemSix
    }); -%>

</div>


<%- include('../../layouts/component/foot.ejs'); -%>