<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commodity-pack</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-fa-primary">

<div class="commodity-pack">
    <a href="#" class="d-flex align-items-center gap-5">
        <div class="w-20 badge-wrapper">
            <img class="w-100" src="./assets/media/images/fa/" alt="">
            <span class="badge bottom-0 right-0 bg-primary-color aspect-ratio-1x1 secondary-color radius-all-full">1</span>
        </div>
        <span class="txt-size-big on-secondary-color">هدست پلی استیشن <br> سونی اسلیم چریکی مدل PULSE Elite Wireless</span>
        <span class="secondary font-weight-bold txt-size-extra-title">2</span>
    </a>
</div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>