<!DOCTYPE html>
<html dir="rtl" lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>advisement</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-fa-primary">

<div class="d-grid grid-5">
    
        <div class="advisement">
           <p class="title">نیاز به راهنمایی بیشتر دارید؟</p>
           <p class="description">پرسش های متداول ما را ببینید و با پشتیبانی درارتباط باشید</p>
           <a class="btn-view d-flex justify-content-center align-items-center gap-4" href=""><span>مشاهده سوالات متداول</span><i class="fa-regular fa-arrow-left"></i></a>
        </div>
 
</div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>