@use "../../../../sass/kernel/" as *;

.ticket-information {
    box-shadow: 0 0 10px 0 #cacaca;
}

.ticket-information .menu-box>a:hover {
    background-color: #e8064680;
    border-radius: 5px;
}

.ticket-information .menu-box>a {
    transition: all 300ms;
}

.ticket-information .menu-box>a:hover>* {
    color: var(--primary);
}

.ticket-information .menu-box>a>* {
    transition: all 300ms;
}