<div class="ticket-access d-flex flex-column align-items-center py-3 px-3 radius-all-medium">
    <a href="#" class="d-flex flex-row align-items-center gap-3 w-100 py-2 px-1">
        <i class="fa-regular fa-home-alt"></i>
        <span class="txt-size-mid-title font-weight-semi-bold">
            <%= ticketAccess.menuList.itemOne %>
        </span>
    </a>
    <a href="#" class="d-flex flex-row align-items-center gap-3 w-100 py-2 px-1">
        <i class="fa-regular fa-inbox"></i>
        <span class="txt-size-mid-title font-weight-semi-bold">
            <%= ticketAccess.menuList.itemTwo %>
        </span>
    </a>
    <a href="#" class="d-flex flex-row align-items-center gap-3 w-100 py-2 px-1">
        <i class="fa-regular fa-heart"></i>
        <span class="txt-size-mid-title font-weight-semi-bold">
            <%= ticketAccess.menuList.itemThree %>
        </span>
    </a>
</div>