@use "../../../../sass/kernel/" as *;

.ticket-access {
    box-shadow: 0 0 10px 0 #cacaca;
}

.ticket-access>a:hover {
    background-color: #e8064637;
    border-radius: 5px;
}

.ticket-access>a {
    transition: all 300ms;
}

.ticket-access>a:hover>* {
    color: var(--primary);
}

.ticket-access>a>* {
    transition: all 300ms;
}