<%- include('../../layouts/component/head.ejs', {pageName: "return-conditions"}); -%>

<div class="d-grid grid-4">
       <%- include('./content.ejs', {
        returnConditions: t.components.returnConditions
    }); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>
