<%- include('../../../layouts/component/head.ejs', {pageName: "admin-tiket", level:1}); %>

<div class="d-grid grid-5">
    <%- include('./content.ejs', {adminTiket: t.components.tiket.adminTiket}); %>
</div>

<%- include('../../../layouts/component/foot.ejs'); %>