<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-en-primary">
<div class="d-grid grid-4">
<div class="location-button d-flex align-items-center gap-3 py-6 pis-10 radius-all-medium">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 18 18" fill="none">
            <path
                d="M9.00016 10.0726C10.2925 10.0726 11.3402 9.02492 11.3402 7.73258C11.3402 6.44023 10.2925 5.39258 9.00016 5.39258C7.70781 5.39258 6.66016 6.44023 6.66016 7.73258C6.66016 9.02492 7.70781 10.0726 9.00016 10.0726Z"
                stroke="#ED1D5A" stroke-width="1.5"></path>
            <path
                d="M2.71332 6.3675C4.19082 -0.127498 13.8133 -0.119998 15.2833 6.375C16.1458 10.185 13.7758 13.41 11.6983 15.405C10.1908 16.86 7.80582 16.86 6.29082 15.405C4.22082 13.41 1.85082 10.1775 2.71332 6.3675Z"
                stroke="#ED1D5A" stroke-width="1.5"></path>
        </svg>
        <div class="d-flex flex-column gap-2">
            <span class="font-weight-semi-bold txt-size-mid-title black-text">Your default address for quicker checkout</span>
            <span class="txt-size-title secondary-text-color font-weight-semi-bold">Set a default address to place your future orders faster and more securely.</span>
        </div>
    </div>
</div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>