<%- include('../../layouts/component/head.ejs', {pageName: "free-product-co"}); -%>

<div class="d-grid grid-4">
    <%- include('./content.ejs', {
        freeProductCo: t.components.freeProductCo
    }); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%> 