<%- include('../../layouts/component/head.ejs' , {pageName : "payment-details"}); -%>

<div class="d-grid grid-4">
       <%- include('content.ejs', {
              paymentDetails: t.components.paymentDetails
});    -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>
