<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-fa-primary">
<div class="d-grid grid-4">
<div class="order-product p-5 radius-all-medium w-100">
    <h3 class="mis-3 txt-size-title font-weight-bold pb-2">محصولات سفارش</h3>
    <div class="d-grid">
        <div class="">
            <div class="d-grid grid-2-1 py-3 bw-1 bb-style-solid border-color">
                <span class="mis-3">محصولات</span>
                <span>قیمت واحد</span>
                <span>تعداد</span>
                <span>مجموع</span>
            </div>

            <div class="d-grid grid-2-1 align-items-center bw-1 bb-style-solid border-color py-4">
                <div class="d-flex align-items-center">
                    <img src="./assets/media/images/fa/single/6b118a2528d22b67e3e8489c937005bd8144aea2_1754236725.webp"
                        alt="">
                    <div class="d-flex flex-column gap-1">
                        <h3 class="txt-size-title">ساعت هوشمند مدل x10</h3>
                        <span class="txt-size-big secondary-text-color">رنگ: مشکی</span>
                        <span class="txt-size-big secondary-text-color">گارانتی 18 ماهه</span>
                    </div>
                </div>
                <span class="txt-size-big secondary-text-color">1,690,000 تومان</span>
                <span class="txt-size-big secondary-text-color">1</span>
                <span class="txt-size-big secondary-text-color">1,690,000 تومان</span>
            </div>

           <div class="d-grid grid-2-1 align-items-center py-4">
                <div class="d-flex align-items-center">
                    <img src="./assets/media/images/fa/single/d780d81440ddfd8041040ca4c06d7b9c039d3cfc_1774099280.webp"
                        alt="">
                    <div class="d-flex flex-column gap-1">
                        <h3 class="txt-size-title">هدفون بی سیم مدل Pro 4</h3>
                        <span class="txt-size-big secondary-text-color">رنگ: سفید</span>
                        <span class="txt-size-big secondary-text-color">گارانتی 12 ماهه</span>
                    </div>
                </div>
                <span class="txt-size-big secondary-text-color">790,000 تومان</span>
                <span class="txt-size-big secondary-text-color"></span>
                <span class="txt-size-big secondary-text-color">790,000 تومان</span>
            </div>

        </div>
    </div>
    <div class="d-flex flex-column bw-1 border-style-solid border-color radius-all-normal">
        <div class="d-flex justify-content-space-between px-1 bw-1 border-color bb-style-solid py-3 px-4">
            <span class="txt-size-big secondary-text-color">جمع جزئی</span>
            <span class="txt-size-big secondary-text-color">2,480,000 تومان</span>
        </div>
        <div class="d-flex justify-content-space-between px-1 bw-1 border-color bb-style-solid py-3 px-4">
            <span class="txt-size-big secondary-text-color">هزینه ارسال</span>
            <span class="txt-size-big secondary-text-color">0 تومان</span>
        </div>
        <div class="d-flex justify-content-space-between px-1 bw-1 border-color bb-style-solid py-3 px-4">
            <span class="txt-size-big secondary-text-color">کد تخفیف  (fsws-2dasj)</span>
            <span class="txt-size-big secondary-text-color green-color"></span>
        </div>
        <div class="d-flex justify-content-space-between py-3 px-4">
            <span class="txt-size-title">کد تخفیف </span>
            <span class="txt-size-mid-title primary-color font-weight-bold"> 2,480,000 تومان</span>
        </div>
    </div>
</div></div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>