<%- include('../../layouts/component/head.ejs', {pageName: "forign-product"}); -%>

<div class="d-grid grid-4">
          <%- include('./content.ejs', {
            externalProductCo: t.components.externalProductCo
    }); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>
