<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>lovely-product</title>
   <base href="../../../../../../">
   <link rel="stylesheet" href="./assets/css/miz.min.css">
   <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
   <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
</head>

<body class="font-primary d-grid grid-2">

   <div class="card">
      <div>
         <span class="topic">محصولات مورد علاقه‌ات را از دست نده!</span>
         <span class="description">قیمت ها ممکنه تغییر کنن. زودتر خریدت رو نهایی کن</span>
         <a class="button" href="#">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>مشاهده سبد خرید</span>
         </a>
      </div>
      <img src="./assets/media/images/fa/pannels/pannel(1).webp">

   </div>

</body>

</html>
