<div class="user-summary d-flex gap-5 align-items-center justify-content-space-between p-6 radius-all-extra-normal">
    <div class="d-flex align-items-center gap-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18" fill="none">
            <path
                d="M9.00016 10.0726C10.2925 10.0726 11.3402 9.02492 11.3402 7.73258C11.3402 6.44023 10.2925 5.39258 9.00016 5.39258C7.70781 5.39258 6.66016 6.44023 6.66016 7.73258C6.66016 9.02492 7.70781 10.0726 9.00016 10.0726Z"
                stroke="#ED1D5A" stroke-width="1.5"></path>
            <path
                d="M2.71332 6.3675C4.19082 -0.127498 13.8133 -0.119998 15.2833 6.375C16.1458 10.185 13.7758 13.41 11.6983 15.405C10.1908 16.86 7.80582 16.86 6.29082 15.405C4.22082 13.41 1.85082 10.1775 2.71332 6.3675Z"
                stroke="#ED1D5A" stroke-width="1.5"></path>
        </svg>
        <div class="d-flex flex-column gap-2">
            <span class="secondary-text-color font-weight-semi-bold txt-size-title"><%= userSummary.title %></span>
            <span class="font-weight-bold"><%= userSummary.number %></span>
            <span class="secondary-text-color font-weight-semi-bold txt-size-title"><%= userSummary.text %></span>
        </div>
    </div>
    <svg class="icon radius-all-extra-normal" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        viewBox="0 0 18 18" fill="none">
        <path
            d="M9.00016 10.0726C10.2925 10.0726 11.3402 9.02492 11.3402 7.73258C11.3402 6.44023 10.2925 5.39258 9.00016 5.39258C7.70781 5.39258 6.66016 6.44023 6.66016 7.73258C6.66016 9.02492 7.70781 10.0726 9.00016 10.0726Z"
            stroke="#ED1D5A" stroke-width="1.5"></path>
        <path
            d="M2.71332 6.3675C4.19082 -0.127498 13.8133 -0.119998 15.2833 6.375C16.1458 10.185 13.7758 13.41 11.6983 15.405C10.1908 16.86 7.80582 16.86 6.29082 15.405C4.22082 13.41 1.85082 10.1775 2.71332 6.3675Z"
            stroke="#ED1D5A" stroke-width="1.5"></path>
    </svg>
</div>