<%- include('../../layouts/component/head.ejs' , {pageName : ""}); -%>

<div class="d-grid grid-4">
        <%- include('content.ejs', {
              userSummary: t.components.userSummary
});    -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>
