<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-tiket</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-en-primary">

<div class="d-grid grid-5">
    
            <div class="admin-tiket d-flex justify-content-space-between bw-1 border-color border-style-solid radius-all-normal py-6 px-8 flex-lg-column">
                <div class="d-flex justify-content-start gap-10">
                    <div class="d-flex gap-2 justify-content-center align-items-start">
                        <div class="radius-all-full">
                            <img class="user-image" src="./assets/media/images/en/people/person-5.webp" alt="">
                        </div>
                        <div class="d-flex flex-column gap-3">
                            <p class="font-weight-bold text-color txt-size-high-title"> you</p>
                            <p class="secondary-text-color ">amir rezaee</p>
                        </div>
                    </div>
                    <div class="py-4">
                        <p class="secondary-text-color ">
                       I am getting an error when paying for my order and the payment is not going through. Please help.
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 align-items-end">
                    <span class="secondary-text-color ">10:30 - 1401/04/25</span>
                    <span class="border-color border-style-solid bw-1 radius-all-extra-small px-3 py-1 txt-size-title bg-secondary-color">your message</span>
                </div>
            </div>

</div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>