<div class="product-gallery slider">
    <div class="slider-wrapper slider-loop">
        <div class="slider-container">
            <%_ for(let i = 0; i < 3; i++){ -%>
                <div id="slider-<%= i %>" class="slider-content">
                    <img src="<%= getMedia(lang, `products/mobile-${i + 1}.webp`, 'images'); %>" alt="">
                </div>
            <%_ } -%>
        </div>
    </div>
    <div class="slider-toggles">
        <%_ for(let i = 0; i < 3; i++){ -%>
            <img class="slider-toggle" data-slider-id="slider-<%= i %>" src="<%= getMedia(lang, `products/mobile-${i + 1}.webp`, 'images'); %>" alt="">
        <%_ } -%>
    </div>
</div>