@use "../../../../sass/kernel/" as *;


.order-product {

    box-shadow: 2px 0px 10px var(--shadow);

    img {
        width: 20%;
        height: auto;
    }

    .green-color {
        color: #02B74A;
    }

    .grid-2-1 {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
}

