<!DOCTYPE html>
<html dir="rtl" lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovely-product</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-fa-primary">
<div class="d-grid grid-2">
       
  

      <div class="card">
      <div class="flex-column justify-content-center">
         <span class="topic">محصولات مورد علاقه‌ات را از دست نده!</span>
        <div class="d-flex flex-row">
            <a class="button" href="#">
               <i class="fa-solid fa-cart-shopping"></i>
               <span>مشاهده سبد خرید</span>
            </a>
            <p class="description">قیمت ها ممکنه تغییر کنن. زودتر خریدت رو نهایی کن</p>
        </div>
      </div>
      <img src="./assets/media/images/fa/pannels/pannel(1).webp">

   </div>

   </div>
</div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>