<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newest-column</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-en-primary">
<div class="d-grid grid-4">
       <div class="weblog-card newest-column">
    <div class="feature-image position-relative">
        <img class="w-100 h-100"  src="./assets/media/images/fa/component/Rectangle 1036.webp" alt="">
    </div>
    <div class="card-body">
        <a href="./output/fa/pages/article.html">
            <h3 class="title">Title</h3>
        </a>
        <p class="description">
            The reasons to buy the Nothing Phone 1 are very compelling. Given the avant-garde design, powerful hardware, and reasonable price, the Nothing phone provides sufficient reasons for the user to purchase.
        </p>

        
        <div class="d-flex justify-content-space-between pt-1">
            <div class="d-flex gap-1 align-items-center">
                <i class="icon-clock txt-size-big text-color"></i>
                <span class="txt-size-big font-weight-thin text-color">15 Minutes</span>
            </div>
            <div class="d-flex gap-1 align-items-center">
                <i class="icon-comment txt-size-big text-color"></i>
                <span class="txt-size-big font-weight-thin text-color"> 1</span>
            </div>
        </div>
        <div class="d-flex justify-content-space-between pt-1">
            <div class="d-flex gap-1 align-items-center">
                <i class="icon-calender txt-size-big text-color"></i>
                <span class="txt-size-big font-weight-thin text-color">Sep 28, 2024</span>
            </div>
            <div class="d-flex gap-1 align-items-center">
                <i class="icon-view txt-size-big text-color"></i>
                <span class="txt-size-big font-weight-thin text-color">15534</span>
            </div>
        </div>
        
    </div>
</div>



 </div>
    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>