
        
            <div class="contact-us-social-media">
                <i class="<%= icon %> secondary-text-color txt-size-high-title font-weight-regular"></i>
                <p class="text-color font-weight-bold txt-size-big"><%= name %></p>
            </div>
           
    