<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-specification</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-en-primary">

<div class="table-variantly d-flex flex-column w-100">
    <div class="d-flex gap-14 align-items-center">
        <p style="white-space: nowrap;" class="font-weight-bold text-color txt-size-high-title">General Specifications</p>
        <div class="border-color bw-2 bt-style-solid w-100 horizental-line"></div>
    </div>
    <table style="border-collapse: collapse;" class="w-100 text-start font-weight-600">
        <tbody class="txt-size-title text-color">
                    <tr class="bw-1 bb-style-solid border-color">
                        <td class="secondary-text-color font-weight-bold pt-10 pb-4 w-10">Speaker</td>
                        <td class="py-4 px-6 w-30 font-weight-bold text-color">Stereo</td>
                    </tr>
                    <tr class="bw-1 bb-style-none border-color">
                        <td class="secondary-text-color font-weight-bold pt-10 pb-4 w-10">Speaker</td>
                        <td class="py-4 px-6 w-30 font-weight-bold text-color">Stereo</td>
                    </tr>
        </tbody>
    </table>
</div>
    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>