<%- include('../../layouts/component/head.ejs', {pageName: "shipment-information"}); -%>

<div class="d-grid grid-4">
    <%- include('content.ejs', {shipmentInformation: t.components.shipmentInformation}); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>