<div class="accordion-group font-primary">
    <div class="accordion accordion-relative">
        <div class="accordion-box">
            <span class="accordion-header"><%= question %><i class="fa-solid fa-chevron-down mr-1"></i></span>
            <div class="accordion-body">
                <p class="lh-8"> <%= answer %></p>
            </div>
        </div>
    </div>
</div>