
  <div class="report-product">
    <div class="d-flex flex-row align-content-center justify-content-space-between pb-4">
      <span class="txt-size-title font-weight-bold"><%= textual.title %></span>

      <i class="fa-regular fa-close secondary-light-color"></i>
    </div>

    <div class="d-flex flex-column gap-1">
      <div>
        <label for="one" class="txt-size-big font-weight-medium"><%= textual.link %></label>
        <input type="text" id="one" class="w-100 py-2 outline-unset bg-secondary-color radius-all-small border-b-none border-l-none border-r-none border-t-none">
      </div>

      <div>
        <label for="two" class="txt-size-big font-weight-medium"><%= textual.price %></label>
        <input type="text" id="two" class="w-100 py-2 outline-unset bg-secondary-color radius-all-small border-b-none border-l-none border-r-none border-t-none">
      </div>
    </div>

    <button type="submit" class="w-100 py-3 bg-button-color button-text-color radius-all-small bg-btn-hover font-weight-medium"><%= textual.report %></button>
  </div>
