
    <div class="d-flex align-items-center flex-row-reverse gap-6 copy-address">
        <div class="d-flex align-items-center gap-4 font-size-19px text-variantly-color flex-row-reverse copy-item">
            <i class="icon-copy"></i>
            <p class="txt-size-extra-title"><%= text %></p>
        </div>
        <p class="text-color font-weight-100 txt-size-title site-url"></p>
    </div>

