<a href="<%= seeAll.link %>" class="div align-items-center">
	<span class="text-color txt-subtitle font-weight-bold"><%= seeAll.title %></span>
	<img src="./assets/media/images/<%= t.language %>/homepage/next-icon.svg" alt="" width="35px" />
</a>