<a href="<%= seeAll.link %>" class="div align-items-center">
	<span class="text-color txt-subtitle font-weight-bold"><%= seeAll.title %></span>
	<img src="<%= getMedia(lang, 'single/next-icon.svg', 'images'); %>" alt="" width="35px" />
</a>