<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basic dropdown</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-fa-primary">
    <div class="d-flex flex-column gap-5 py-7">
    <p class="text-color txt-size-big font-weight-bold">آقای یلدوغی:</p>
    <p  class="txt-size-title">به نظرم مقاله جالب و کاربردی بود .منم شاید برم و رینگ گلکسی بخرم</p>
    <a href="" class="title-text-color txt-size-extra-title font-weight-bold">اخبار کامل گلکسی رینگ سامسونگ</a>
</div>
    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>