<%- include('../../layouts/component/head.ejs', {pageName: "variable-product"}); -%>

<div class="d-grid grid-4">
       <%- include('./content.ejs', {
            variableProductCo: t.components.variableProductCo
    }); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>


