<div class="location-button border-primary-color bg-primary-light-color bw-2 border-style-dashed d-flex align-items-center gap-3 py-6 px-10 px-sm-5 radius-all-medium">
       <img src="./assets/media/images/fa/single/location.png" alt="">
        <div class="d-flex flex-column gap-2">
            <span class="font-weight-semi-bold txt-size-mid-title black-text"><%= locationButton.title %></span>
            <span class="txt-size-title secondary-text-color font-weight-semi-bold"><%= locationButton.subTitle %></span>
        </div>
    </div>
