<%- include('../../layouts/component/head.ejs' , {pageName : ""}); -%>

<div class="d-grid grid-4">
<%- include('content.ejs', {
              locationButton: t.components.locationButton
});    -%></div>

<%- include('../../layouts/component/foot.ejs'); -%>
