<div class="labeld-card">
	<div class="content">
		<p class="product-name"><%= labeledCard.title %></p>
		<img class="product-image" src="./assets/media/images/<%= labeledCard.image.src %>" alt="<%= labeledCard.image.alt %>"/>
	</div>
</div>