<%- include('../../../layouts/component/head.ejs', {pageName: "product-card - color", level: 1}); %>

<div class="d-grid grid-4">
    <%- include('content.ejs', {productCard: t.components.productCard, enableSwiper: false, enableLike: true}); %>
</div>

<%- include('../../../layouts/component/foot.ejs'); %>