<%- include('../../layouts/component/head.ejs', {pageName: "product-button-feature"}); -%>

<div class="d-grid grid-4">
       <%- include('content.ejs', {
        productButtonFeature: t.components.productButtonFeature
      });    -%>
</div>
<%- include('../../layouts/component/foot.ejs'); -%>
