
   <div class="card">
      <div>
         <span class="topic"><%= topic %></span>
         <span class="description"><%= description %></span>
         <a class="button" href="#">
            <i class="fa-solid fa-cart-shopping"></i>
            <span><%= btn %></span>
         </a>
      </div>
      <img src="<%= getMedia(lang, 'pannels/pannel(1).webp', 'images'); %>"  alt="">

   </div>
