<%- include('../../../layouts/component/head.ejs' , {pageName : "lovely-product", level : 1}); -%>

<<<<<<< HEAD
<div class="d-grid grid-5">
    
=======
<div class="d-grid grid-2">
       <%- include('content.ejs'  , 
       {
        topic : t.components.pannel.lovelyProduct.topic ,
        description : t.components.pannel.lovelyProduct.description ,
        btn : t.components.pannel.lovelyProduct.btn 
       });    -%>
>>>>>>> e970cff6368204760fa57e4496959ed88b816ea3
</div>

<%- include('../../../layouts/component/foot.ejs'); -%>