<%- include('../../../layouts/component/head.ejs' , {pageName : "lovely-product", level : 1}); -%>

<div class="d-grid grid-2">
       <%- include('content.ejs'  , 
       {
        topic : t.components.pannel.lovelyProduct.topic ,
        description : t.components.pannel.lovelyProduct.description ,
        btn : t.components.pannel.lovelyProduct.btn 
       });    -%>
</div>

<%- include('../../../layouts/component/foot.ejs'); -%>