<%- include('../../../layouts/component/head.ejs' , {pageName : "lovely-product", level : 1}); -%>


    
<div class="d-grid grid-2">
     
</div>

<%- include('../../../layouts/component/foot.ejs'); -%>