<%- include('../../layouts/component/head.ejs', {pageName: "unavailable-product"}); -%>

<div class="d-grid grid-4">
          <%- include('content.ejs', {
              unavailableProductCo: t.components.unavailableProductCo
});    -%>
</div>
<%- include('../../layouts/component/foot.ejs'); -%>
