<%- include('../../../layouts/component/head.ejs', {pageName: "product-details-rating", level: 1}); -%>

<div class="d-grid grid-4">
        <%- include('content.ejs', {
          rating: t.components.productDetails.rating
        }); -%>

</div>

<%- include('../../../layouts/component/foot.ejs'); -%>
