<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>address-box</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-en-primary">
<div class="d-grid grid-4">
    <div class="address-box d-flex flex-column align-items-start gap-4 px-3 py-3 radius-all-medium">
    <span class="px-2 py-1 radius-all-extra-small bw-1 border-style-solid txt-size-title font-weight-bold bg-warning-light-color border-warning-regular-color warning-dark-color">Paternal Home</span>
    <span class="py-1 px-2 radius-all-small secondary-text-color txt-size-title font-weight-bold bw-1 border-style-solid">Postal Code: 22334455666</span>
    <span class="txt-size-mid-title font-weight-bold">Mashhad, Ahmad Abad Blvd, corner of Aref St 2, No. 44, 3rd Floor, Unit 20</span>
    <div class="d-flex flex-column align-items-start gap-1">
        <span class="txt-size-mid-title font-weight-bold">Amir Rezaei</span>
        <span class="txt-size-mid-title font-weight-bold">09121234567</span>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-start gap-2">
        <button class="d-flex flex-row align-items-center justify-content-center gap-2 bg-transparent-color py-1 px-2 bw-1 border-style-solid radius-all-small">
            <i class="fa-regular fa-pencil"></i>
            <span class="txt-size-mid-title font-weight-medium">Edit</span>
        </button>
        <button class="d-flex flex-row align-items-center justify-content-center gap-2 bg-transparent-color py-1 px-2 bw-1 border-style-solid radius-all-small border-primary-color">
            <i class="fa-regular fa-trash-alt primary-color"></i>
            <span class="txt-size-mid-title font-weight-medium primary-color">Delete</span>
        </button>
    </div>
</div></div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>