@use "../../../../../sass/kernel/" as *;


.contain-feachures {
    box-shadow : 2px 2px 7px 0px var(--shadow);
    @extend .w-100 , .d-flex , .justify-content-space-between , .py-4 , .gap-4 , .px-4 , .radius-all-normal ;

    .featurebox {
        @extend .d-flex , .align-items-center , .gap-4 ;

        div {
            @extend .d-flex , .flex-column , .align-items-end ; 

            .topic {

                @extend .txt-size-big , .txt-wrap-nowrap , .font-weight-semi-bold;
            }

            .description {

                @extend .txt-size-normal , .secondary-text-color , .font-weight-medium , .txt-wrap-nowrap ;
            }
        }

        img {
            @extend .radius-all-extra-small , .bw-1 , .border-color , .py-4 , .px-4 , .d-flex , .justify-content-center , .align-items-center , .bg-primary-color ;
        }

    } 

    .line {
        width: 2px;
        background: var(--border);
    }
    
}