<%- include('../../../layouts/component/head.ejs' , {pageName : "featurs", level : 1}); -%>

<div class="d-grid grid-2">
       <%- include('content.ejs'  , 
       {
        title : t.components.pannel ,
        subtitle : t.components.pannel
       });    -%>
</div>

<%- include('../../../layouts/component/foot.ejs'); -%>