<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-button-feature</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-en-primary">
<div class="d-grid grid-4">
         <button class="product-button-feature check-payment">Purchasable by Cheque</button>
        <button class="product-button-feature installments ">Purchasable by Installments</button>
        <button class="product-button-feature payable-credit">Purchasable by Credit</button>
        <button class="product-button-feature original">Original Product</button>
        <button class="product-button-feature fake">Unoriginal Product</button>
        <button class="product-button-feature warranty">Has Guarantee</button></div>
    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>