<dialog id="sharingProduct" class="modal-container sharing-modal">
    <div class="modal-content d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column px-6 radius-all-medium bg-color w-50">
            <div class="d-flex justify-content-space-between align-items-center py-6 border-color">
                <i class="fa-solid fa-close modal-close secondary-text-color txt-size-big-title"></i>
                <p class="txt-size-high-title font-weight-semi-bold text-color"> <%= popupVideo.title %></p>
            </div>
            <div class="d-flex flex-column align-items-start gap-2 py-4 border-color">
                <video src="<%= getMedia(null, 'video.mp4', 'videos') %>" class="radius-all-small"></video>
            </div>
        </div>
    </div>
</dialog>