<%- include('../../layouts/component/head.ejs' , {pageName : "popup-video"}); -%>

<div class="d-grid grid-4">
       <%- include('content.ejs', {
              popupVideo: t.components.popupVideo
});    -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>
