<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>pannel-feature</title>
   <base href="../../../../../../">
   <link rel="stylesheet" href="./assets/css/miz.min.css">
   <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
   <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
</head>

<body class="font-primary d-grid grid-2">

   
      
      <div class="contain-feachures">
         <div class="featurebox ">
            <div class="">
               <span class="topic ">7 روز ضمانت بازگشت</span>
               <span class="description ">خرید بدون ریسک</span>
            </div>
            <img src="./assets/media/images/fa/pannels/pannel(2).webp" alt=" ">
         </div>
         <div class="line"></div>
         <div class="featurebox ">
            <div class="">
               <span class="topic ">ضمانت اصالت کالا</span>
               <span class="description ">خرید مطمئن و امن</span>
            </div>
            <img src="./assets/media/images/fa/pannels/pannel(2).webp" alt=" ">
         </div>
         <div class="line"></div>
         <div class="featurebox ">
            <div class="">
               <span class="topic ">ارسال سریع</span>
               <span class="description ">به سراسر کشور</span>
            </div>
            <img src="./assets/media/images/fa/pannels/pannel(2).webp" alt=" ">
         </div>
         <div class="line"></div>
         <div class="featurebox ">
            <div class="">
               <span class="topic ">پشتیبانی 24 ساعته</span>
               <span class="description ">همیشه در کنار شما هستیم</span>
            </div>
            <img src="./assets/media/images/fa/pannels/pannel(2).webp" alt=" ">
         </div>
      </div>
 
   

</body>

</html>