<div class="card">
	<div>
		<span>محصولات مورد علاقه‌ات را از دست نده!</span>
		<span>قیمت ها ممکنه تغییر کنن. </span>
	</div>
	<img src="../../../../assets/media/images/fa/component/98c5f623-b5a8-434a-8769-283d9f640639.png">
</div>