<%- include('../../../layouts/component/head.ejs', {pageName: "labeled-card", level:1}); %>

<div class="d-grid grid-5">
    <%- include('./content.ejs', {labeledCard: t.components.categoryCard.labeledCard}); %>
</div>

<%- include('../../../layouts/component/foot.ejs'); %>