<%- include('../../layouts/component/head.ejs', {pageName: "address-box" }); -%>

<div class="d-grid grid-4">
    <%- include('content.ejs', { addressBox: t.components.addressBox }); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>