<%- include('../../layouts/component/head.ejs', {pageName: "product-qa"}); -%>

<div class="d-grid grid-4">
       <%- include('content.ejs', {
        productQa: t.components.productQa
    }); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>
