<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-gallery-slider</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-fa-primary">
<div class="d-grid grid-4">
       <div class="product-gallery slider">
    <div class="slider-wrapper slider-loop">
        <div class="slider-container">
                <div id="slider1" class="slider-content">
                    <img src="./assets/media/images/fa/component/8.webp" alt="alt">
                </div>
                <div id="slider2" class="slider-content">
                    <img src="./assets/media/images/fa/component/2.webp" alt="alt">
                </div>
                <div id="slider3" class="slider-content">
                    <img src="./assets/media/images/fa/component/3.webp" alt="alt">
                </div>
                <div id="slider4" class="slider-content">
                    <img src="./assets/media/images/fa/component/4.webp" alt="alt">
                </div>
                <div id="slider5" class="slider-content">
                    <img src="./assets/media/images/fa/component/5.webp" alt="alt">
                </div>
                <div id="slider6" class="slider-content">
                    <img src="./assets/media/images/fa/component/6.webp" alt="alt">
                </div>
                <div id="slider7" class="slider-content">
                    <img src="./assets/media/images/fa/component/7.webp" alt="alt">
                </div>
                <div id="slider8" class="slider-content">
                    <img src="./assets/media/images/fa/component/8.webp" alt="alt">
                </div>
                <div id="slider9" class="slider-content">
                    <img src="./assets/media/images/fa/component/9.webp" alt="alt">
                </div>
                <div id="slider10" class="slider-content">
                    <img src="./assets/media/images/fa/component/10.webp" alt="alt">
                </div>
        </div>
    </div>
    <div class="slider-toggles">
            <img class="slider-toggle" data-slider-id="slider1" src="./assets/media/images/fa/component/8.webp" alt="alt">
            <img class="slider-toggle" data-slider-id="slider2" src="./assets/media/images/fa/component/2.webp" alt="alt">
            <img class="slider-toggle" data-slider-id="slider3" src="./assets/media/images/fa/component/3.webp" alt="alt">
            <img class="slider-toggle" data-slider-id="slider4" src="./assets/media/images/fa/component/4.webp" alt="alt">
            <img class="slider-toggle" data-slider-id="slider5" src="./assets/media/images/fa/component/5.webp" alt="alt">
            <img class="slider-toggle" data-slider-id="slider6" src="./assets/media/images/fa/component/6.webp" alt="alt">
            <img class="slider-toggle" data-slider-id="slider7" src="./assets/media/images/fa/component/7.webp" alt="alt">
            <img class="slider-toggle" data-slider-id="slider8" src="./assets/media/images/fa/component/8.webp" alt="alt">
            <img class="slider-toggle" data-slider-id="slider9" src="./assets/media/images/fa/component/9.webp" alt="alt">
            <img class="slider-toggle" data-slider-id="slider10" src="./assets/media/images/fa/component/10.webp" alt="alt">
    </div>
</div>     
</div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>