    <%_ let isFooter = (typeof footer !== 'undefined') ? footer : true; -%>
    <%_ if(isFooter){ -%>
        <%- include('../../components/footer/content.ejs'); %>
    <%_ } -%>
    
    <%- include('./dialog.ejs'); %>
    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
    <script src="./assets/js/header.js"></script>
    <script src="./assets/vendors/chartJs/chart.js"></script>
    <script src="./assets/vendors/snap-alert-js-main/snap-alert.min.js"></script>
    <script>
        const alterToggles = document.querySelectorAll(".alert-toggle");
        alterToggles.forEach((alterToggle) => {
            alterToggle.addEventListener("click", (target) => {
                const alterTitle = alterToggle.dataset.alertTitle ?? "title";
                const alterContent = alterToggle.dataset.alertContent ?? null;
                const alterType = alterToggle.dataset.alertType ?? "success";
                const alterPosition = alterToggle.dataset.alertPosition ?? "bottom right";
                const alterDuration = alterToggle.dataset.alertDuration ?? 3000;
                const alterIcon = alterToggle.dataset.alterIcon ?? "fa-solid fa-check";
                SnapAlert().alert(alterTitle, alterContent, {
                    type: alterType,
                    position: alterPosition,
                    duration: alterDuration,
                    customIcon: `<i class="title ${alterIcon}"></i>`,
                    autoClose: true,
                    progressBar: true,
                    animation: "slide",
                    clickToClose: true,
                });
            });
        });
    </script>
    <script>
        const primaryFont = getComputedStyle(document.body).getPropertyValue("--font-primary").trim();

        function transparentize(color, opacity) {
            if (color.includes("rgb")) {
                return color.replace("rgb", "rgba").replace(")", `, ${opacity})`);
            }
            return color;
        }
        const initialLabels = ["January", "February", "March", "April", "May", "June", "July", "August"];
        const DATA_COUNT = {
            chart1: [50, 10, 50, 60, 90, 0, 35],
            chart2: [20, 10, 50, 35, 60, 90, 0],
        };

        const CHART_COLORS = {
            red: "rgb(255, 99, 132)",
            blue: "rgb(54, 162, 235)",
        };

        const data = {
            labels: initialLabels,
            datasets: [
                {
                    label: "تست 1",
                    data: DATA_COUNT.chart1,
                    borderColor: CHART_COLORS.red,
                    backgroundColor: transparentize(CHART_COLORS.red, 0.5),
                    yAxisID: "y",
                    tension: 0.4,
                },
                {
                    label: "Dataset 2",
                    data: DATA_COUNT.chart2,
                    borderColor: CHART_COLORS.blue,
                    backgroundColor: transparentize(CHART_COLORS.blue, 0.5),
                    yAxisID: "y1",
                    tension: 0.4,
                },
            ],
        };

        const config = {
            type: "line",
            data: data,
            options: {
                responsive: true,
                interaction: {
                    mode: "index",
                    intersect: false,
                },
                plugins: {
                    legend: {
                        labels: {
                            font: {
                                family: primaryFont,
                            },
                        },
                    },
                },
                scales: {
                    y: {
                        type: "linear",
                        display: true,
                        position: "left",
                    },
                    y1: {
                        type: "linear",
                        display: true,
                        position: "right",
                        grid: {
                            drawOnChartArea: false,
                        },
                    },
                },
            },
        };

        function componentChartJs(element, config) {
            const ctx = document.querySelector(element);
            new Chart(ctx, config);
        }
        componentChartJs("#productChart", config);
    </script>
</body>

</html>