<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basic dropdown</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-en-primary">
    <div class="accordion-group font-primary">
    <div class="accordion accordion-relative">
        <div class="accordion-box">
            <span class="accordion-header">I have two accounts in niva, can I merge them?<i class="fa-solid fa-chevron-down mr-1"></i></span>
            <div class="accordion-body">
                <p class="lh-8"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Printers and texts, rather newspapers and magazines in columns and rows, as necessary and for the current conditions of required technology and various applications with the aim of improving practical tools. Many books in the past sixty-three percent, present, and future demand a great understanding of the society and specialists so that with software, more understanding can be created for computer designers, especially creative designers, and leading culture in the Persian language. In this case, one can hope that the entirety and difficulties present in providing solutions and harsh typing conditions will end, and the required time, including typesetting of main achievements and responding to continuous design questions, will basically be utilized.</p>
            </div>
        </div>
    </div>
</div>
    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>