
        <div class="advisement">
           <p class="title"><%= advisement.title %></p>
           <p class="description"><%= advisement.description %></p>
           <a class="btn-view d-flex justify-content-center align-items-center gap-4" href=""><span><%= advisement.button %></span><i class="fa-regular fa-arrow-left"></i></a>
        </div>
 