<%- include('../../layouts/component/head.ejs', {pageName: "advisement"}); %>

<div class="d-grid grid-5">
    <%- include('./content.ejs', {advisement: t.components.advisement}); %>
</div>

<%- include('../../layouts/component/foot.ejs'); %>