<div class="d-flex flex-column gap-5 py-7">
    <p class="text-color txt-size-big font-weight-bold"><%=name%>:</p>
    <p  class="txt-size-title"><%=description%></p>
    <a href="<%=postLink%>" class="title-text-color txt-size-extra-title font-weight-bold"><%=post%></a>
</div>