  <div class="viewpoint-card">
    <span class="txt-size-normal font-weight-bold"><%= description %></span>
    <button type="submit" class="w-100 py-2 bg-button-color button-text-color radius-all-small bg-btn-hover font-weight-medium txt-size-big"><%= button %></button>
  </div>