<%- include('../../layouts/component/head.ejs', {pageName: "simple-product-co"}); -%>

<div class="d-grid grid-4">
    <%- include('./content.ejs', {
        simpleProductCo: t.components.simpleProductCo
    }); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>