<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-comment</title>
    <link rel="icon" type="image/png" href="./assets/media/images/logo-web3.webp">
    <!--  -->
    <base href="../../../../">
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/css/style.min.css">
</head>

<body class="font-fa-primary">
<div class="d-grid grid-4">
       
<div class="product-comment">
    <div class="information-comment">
        <div class="d-flex flex-column gap-5">
            <div class="d-flex gap-2">
                <span class="user-name">09123751296</span>
                <p class="user-type">خریدار</p>
            </div>
            <div class="d-flex gap-5">
                <div class="rating-star gap-sm-1">
                    <i class="fa-solid fa-star active"></i>
                    <i class="fa-solid fa-star active"></i>
                    <i class="fa-solid fa-star active"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                </div>
                <span class="date-time">۱۴۰۴ . ۱ . ۰۶</span>
            </div>
        </div>
        <div class="like-box d-flex gap-2 align-items-stretch h-fit-content">
            <div class="btn positive radius-all-smal">
                <p class="count">25</p>
                <i class="fa-regular fa-thumbs-up"></i>
            </div>
            <div class="btn negative radius-all-small">
                <p class="count">3</p>
                <i class="fa-regular fa-thumbs-down"></i>
            </div>
            <div class="like-comment btn">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
    </div>
    <div class="text-container">
        <h2 class="title">گوشی کاربردی و حرفه ایی برای همه</h2>
        <p class="description">با سلام گوشی کاملا سالم و به موقع به دستم رسید و رجیستری هم بدون مشکل و سریع انجام شد به نظر من این گوشی نسبت به بقیه گوشی های هم رده و هم قیمت مثل A16-A25-M6pro ارزش خرید بسیار بالاتری داره و تو توی این رنج قیمت سخت افزار بسیار خوبی ارائه میده بهتون کیفیت صفحه نمایش ، وضوح و بلندی صدا واقعا قابل قبوله و برای کاربری روزانه ، وب گردی و اینستا و فیلم دیدن خیلی مناسبه و تجربه خوبی به کاربر ارائه میده اما خب بخاطر</p>
    </div>

    <div class="features-container">
		<div class="comment-show-more accordion-group font-primary">
			<div class="accordion accordion-relative bg-transparent-color">
				<div class="accordion-box">
					<div class="accordion-header">
						<div class="show-more">
							<div class="btn">
								<svg class="chevron-down" width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect x="0.113281" y="0.59375" width="25.1514" height="17.75" rx="5" fill="#E3F3EC"></rect>
									<path d="M16.2444 7.34961L13.256 10.3379C12.9031 10.6909 12.3256 10.6909 11.9727 10.3379L8.98438 7.34961" stroke="#3EB580" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>
							</div>
							<p class="text-show-more">نمایش بیشتر</p>
						</div>
					</div>
					<div class="accordion-body">
						<div class="d-flex flex-column">
							<div class="features">
								<ul>
									<li class="feature">
										<svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
											<path d="M1.2168 2.96553L2.83489 4.48379L6.0768 1.44727" stroke="#17C76F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
										<span>دوربین خیلی روون و با کیفیت</span>
									</li>
									<li class="feature">
										<svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
											<path d="M1.2168 2.96553L2.83489 4.48379L6.0768 1.44727" stroke="#17C76F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
										<span>باطری سریع شارژ میشه</span>
									</li>
									<li class="feature">
										<svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
											<path d="M1.2168 2.96553L2.83489 4.48379L6.0768 1.44727" stroke="#17C76F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
										<span>نمایشگر برای بازی خوبه</span>
									</li>
									<li class="feature">
										<svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
											<path d="M1.2168 2.96553L2.83489 4.48379L6.0768 1.44727" stroke="#17C76F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
										<span>مناسب طراحان هم هست</span>
									</li>
									<li class="feature">
										<svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
											<path d="M5.80566 5.88678L1.64154 1.72266" stroke="white" stroke-width="2" stroke-linecap="round"></path>
											<path d="M5.80566 5.88678L1.64154 1.72266" stroke="#FF5858" stroke-width="2" stroke-linecap="round"></path>
											<path d="M1.64062 5.88678L5.80475 1.72266" stroke="white" stroke-width="2" stroke-linecap="round"></path>
											<path d="M1.64062 5.88678L5.80475 1.72266" stroke="#FF5858" stroke-width="2" stroke-linecap="round"></path>
										</svg>
										<span>بعضی مشکلات بابت تحریم ایران عزیز</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="comment-gallery w-sm-35">
			<img class="modal-toggle" data-modal-id="gallery1" src="./assets/media/images/fa/customer-gallery/poco-1.webp" alt="">
			<img class="modal-toggle" data-modal-id="gallery1" src="./assets/media/images/fa/customer-gallery/poco-2.webp" alt="">
			<img class="modal-toggle" data-modal-id="gallery1" src="./assets/media/images/fa/customer-gallery/poco-3.webp" alt="">
		</div>
		<dialog id="gallery1" class="modal-container gallery-comment-modal">
			<div class="modal-content d-flex justify-content-center align-items-center">
				<div class="d-flex flex-column px-6 radius-all-medium bg-color w-50 w-md-70 w-sm-90">
					<div class="d-flex justify-content-space-between align-items-center py-6 border-color">
						<i class="fa-solid fa-close modal-close secondary-text-color txt-size-big-title"></i>
						<p class="txt-size-high-title font-weight-semi-bold text-color">گالری تصاویر نظرات</p>
					</div>
					<div class="body d-flex flex-column align-items-start gap-2 py-4 border-color">
						<div class="slider slider-draggable d-flex flex-column align-items-center gap-4 w-100 h-100">
							<div class="slider-wrapper position-relative aspect-ratio-1x1 radius-all-medium overflow-hidden border-color bw-1 border-style-solid w-100">
								<div class="slider-container">
									<div id="sliderOne" class="slider-content d-flex flex-column justify-content-center align-items-center">
										<img src="./assets/media/images/fa/customer-gallery/poco-1.webp" alt="" class="w-100 h-100 object-contain">
									</div>
									<div id="sliderTwo" class="slider-content">
										<img src="./assets/media/images/fa/customer-gallery/poco-2.webp" alt="" class="w-100 h-100 object-contain">
									</div>
									<div id="sliderThree" class="slider-content active">
										<img src="./assets/media/images/fa/customer-gallery/poco-3.webp" alt="" class="w-100 h-100 object-contain">
									</div>
								</div>
							</div>
							<div class="slider-arrows d-flex w-100 justify-content-space-between align-items-center">
								<div class="slider-arrow-prev cursor-pointer w-10 aspect-ratio-1x1 bg-primary-color secondary-color radius-all-full d-flex align-items-center justify-content-center">
									<i class="fa-solid fa-arrow-right"></i>
								</div>
								<div class="slider-arrow-next cursor-pointer w-10 aspect-ratio-1x1 bg-primary-color secondary-color radius-all-full d-flex align-items-center justify-content-center disabled">
									<i class="fa-solid fa-arrow-left"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</dialog>
	</div>
</div>
</div>

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>