<div class="featurebox d-flex align-items-center gap-3 flex-lg-shrink">
	<div class="d-flex flex-column gap-1">
		<span class="txt-size-mid-title text-color font-weight-bold txt-nowrap"><%= featureBox.title %></span>
		<span class="txt-size-big secondary-text-color font-weight-bold txt-nowrap"><%= featureBox.subtitle %></span>
	</div>
	<img src="<%= getMedia(lang, '', 'images'); %>" alt="" />
</div>