<%- include('../../layouts/component/head.ejs' , {pageName : "articles"}); -%>

<div class="d-grid grid-4">
       <%- include('content.ejs', {topseller: t.components.topseller, numberItem: 1});    -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>
