
        <div class="w-100">

            <div class="contact-us-information border-bottom">
                <div class=" d-flex gap-3 font-weight-bold">
                    <p class="direction"><%= title %></p>
                    <i class="<%= icon %>"></i>
                </div>
                <p class="title"><%= description %></p>
            </div>

        </div>
   