<%- include('../../layouts/component/head.ejs', {pageName: "sidebar-menu"}); -%>

<div class="d-grid grid-4">
    <%- include('content.ejs', {sidebarMenu: t.components.sidebarMenu}); -%>
</div>

<%- include('../../layouts/component/foot.ejs'); -%>