<div class="focused-card">
    <div class="content">
        <img class="product-image" src="<%= focusedCardImage %>" alt="" width="<%= typeof width !== 'undefined' ? width : null %>">
    </div>
</div>