<%- include('../../../layouts/component/head.ejs', {pageName: "product-card - full", level: 1}); %>

<div class="d-grid grid-4">
    <%- include('content.ejs', {productCard: t.components.productCard, image: "products/mobile-1"}); %>
</div>

<%- include('../../../layouts/component/foot.ejs'); %>