<div class="focused-card">
    <div class="content">
        <img class="product-image" src="./assets/media/images/<%= focusedCard.image.src %>" alt="<%= focusedCard.image.alt %>" width="<%= typeof width !== 'undefined' ? width : null %>">
    </div>
</div>