<div class="privilege">
	<img class="" src="./assets/media/images/<%= img %>" width="150px" />
	<div class="d-flex flex-column align-items-stretch gap-2">
		<p class="txt-size-mid-title font-weight-bold text-color"><%= title %></p>
		<p class="txt-size-mid-title secondary-text-color font-weight-bold"><%= description %> <span class="text-color"><%= year %></span></p>
	</div>
</div>