<%- include('../../layouts/component/head.ejs', {pageName: "certificate"}); -%>

<div class="d-grid grid-4">
       <%- include('content.ejs' , {
              img: t.components.certificate[0].img ,
              title: t.components.certificate[0].title ,
              description: t.components.certificate[0].description ,
              year: t.components.certificate[0].year 
              
       }
       ); -%>
</div>
<%- include('../../layouts/component/foot.ejs'); -%>

