
        <div class="biography">
            <img class="" src="./assets/media/images/<%= img %>">
            <div class="content">
                <h3 class="title"><%= name %></h3>
                <span class="description"><%= designation %></span>
            </div>
        </div>
   