<%- include('../../layouts/component/head.ejs', {pageName: "biography"}); -%>

<div class="d-grid grid-4">
    <%- include('./content.ejs', {name: "Mojtaba Heydari", designation: "Human Resources Management", image: "fa/about-us/4-5.webp" }); -%>
</div>
<%- include('../../layouts/component/foot.ejs'); -%>
